nav{
  background-color: #563d7c;
  
 
  
}

nav a{
  color: white;
  text-decoration: none;
}

nav a:hover{
  color: white;
  text-decoration: none;
}

/*--*/

#imgr{
  max-width: 100%;
  max-height: 100%;
}



.btn-link {
    color: #563d7c !important;
    font-weight: bold !important;
}